{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the About page</h1>
                <p>this came from the template: {{index .StringMap "test"}}</p>
{{/*                <p>*/}}
{{/*                    {{if ne(index .StringMap "remote_ip") ""}}*/}}
{{/*                        Your remote ip address is {{index .StringMap "remote_ip"}}*/}}
{{/*                        {{else}}*/}}
{{/*                        I don't know you ip address yet visit the <a href="/">home</a>*/}}
{{/*                            {{end}}*/}}
{{/*                </p>*/}}
            </div>
        </div>
    </div>
{{end}}